{% extends "formlay.html" %}

{% block title %}Clear Slots{% endblock %}

{% block content %}



<br>
<br>
<br>
<div class="row">

  <div class="col-md-1">
  </div>

  <div class="col-md-10" style="background-color: white; padding: 20px">

              <form action="/slotdeleted" method = "post">
              <table align = "center" class="table table-striped">
                <th style = "width:100px" align = "right">DATE</th>
                <th style = "width:100px" align = "right"> </th>
                <th style = "width:100px" align = "right">SLOT 1</th>
                <th style = "width:100px" align = "right">SLOT 2</th>
                <th style = "width:100px" align = "right">SLOT 3</th>
                <th style = "width:100px" align = "right">SLOT 4</th>
                <th style = "width:100px" align = "right">SLOT 5</th>
                <th style = "width:100px" align = "right">SLOT 6</th>

                {% for i in range(gr|length) %}
                  <tr>
                    {% for j in range(gr[i]|length) %}
                      {% if j == 0 %}
                        <td  align = "right">{{gr[i][j]}}<td>
                      {% elif gr[i][j] != "nb" %}
                        <td style = "width:125px; font-size: 15px;font-weight: bold"><input type = "checkbox" name = "sl" value = "{{i~'-'~j}}" style="width:30px; height: 30px"><br>{{scoretospace(gr[i][j])}}</td>
                      {% else %}
                        <td style = "width:100px">NB<br> </td>
                      {% endif %}
                    {% endfor %}
                  </tr>
                {% endfor %}
              </table>
              <br>

              <input type="submit" name="submit" value="submit" class="btn btn-primary btn-block">
              </form>
  </div>

  <div class="col-md-1">
  </div>

</div>

{% endblock %}