{% extends "main.html" %}

{% block body %}
  <form name = "m" action = "/movies/date" method="post">
	<div class="row">
		<div class = "col-md-4">
		</div>

		<div class="col-md-4 school-options-dropdown text-center">
		<div class="form-group">
		  <label for="sel1"><p style="size: 20px">SELECT MOVIE:</p></label>
		    <select name = "movie" class="form-control" id="sel1" required>
		        <option disabled selected value = ""> Movie </option>
		        {% for i in movs %}
		          <option value = "{{i}}"> {{scoretospace(i)}} </option>
		        {% endfor %}
		    </select>
		</div>
		    <input type="submit" value = "Next" class="btn btn-primary btn-block">
		</div>

		<div class = "col-md-4">
		</div>
	</div>
  </form>
{% endblock %}
